// Fallback Js
='\n'
noscript
	div(class="bg-red-100").
		#[a(href="https://www.enable-javascript.com/" target="_blank" class="alert-link") Enable JavaScript] to make the site works perfectly.
='\n'
<!-- /Fallback Js -->
='\n'
