// Page banner
div(class="flex flex-col space-y-2 items-center justify-center px-10 py-20 bg-gray-200 text-gray-900 dark:bg-jetBlack dark:text-white transition-colors duration-500")
	block pageBanner
		h2(class="text-2xl md:text-3xl font-bold")= pageBannerTitle
		p(class="text-md md:text-lg")= pageBannerDescription
= '\n'
// /Page banner
