.blog {
  article {
    margin-bottom: 3rem;

    .title {
      font-weight: 600;
    }

    .meta {
      font-weight: 700;
      margin: 1rem 0;
    }

    .post-thumbnail {
      margin: 1rem 0;
    }
  }
}

.archive article {
  margin-bottom: 3rem;
}

.archive article .title {
  font-weight: 600;
}

.archive article .meta {
  font-weight: 700;
  margin: 1rem 0;
}

.archive-title {
  font-size: 2rem;
  font-weight: 700;
  border-bottom: 1px solid #efefef;
  padding: 0 0 0.7rem 0;
  margin-bottom: 1rem;

  span {
    color: #b58e8e;
    font-weight: normal;
  }
}

.archive .post-thumbnail {
  margin: 1rem 0;
}

.nav-links {
  font-weight: 700;
}

.nav-links span,
.nav-links a {
  padding: 0.4rem;
}