.flexslider {
  border: 0 !important;
}

.flex-control-nav {
  bottom: 10px !important;
}

.slider-details-container {
  color: #fff;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  width: 800px;
}

.slider-details-container h1 {
  font-family: 'Seaweed Script';
  font-size: 3.7rem;
}

.slider-details-container .subtitle {
  font-size: 1.3em;
  margin-bottom: 15px;
}

.slider-details-container .slider-title {
  color: #fff;
  font-weight: 700;
}

.slider-details-container a {
  background-color: #d2335b;
  color: #fff;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 0.8em;
  display: inline-block;
  font-size: 1.2em;
}

.slider-details-container a:hover {
  color: #fff;
}

.flexslider .slides {
  padding: 0 !important;
}

.flex-control-paging li a {
  background: rgba(189, 189, 189, 0.5) !important;
  height: 10px !important;
  width: 15px !important;
}

.flex-control-paging li a.flex-active {
  background: #d2335b !important;
  width: 25px !important;
}

.flex-control-nav li {
  margin: 0 2px !important;
}